.body{
    background-color: var(--cor-fundo);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 1.5;
    --verde-principal: #73BD54;
    --cor-fundo: #F4F6E9;
    --roxo: #920069;
}

html{
    scroll-behavior: smooth;
}

.header{
    background-color: var(--verde-principal);
    height: 40px;
    box-sizing: border-box;
}

.titulo{
    /* border: 1px solid blue; */
    font-family:'Alex Brush', cursive;
    font-size: 250%;
    font-weight: 600;
    color: var(--roxo);
    margin: 0 auto;
    
}

/* section perfil ------------------ */

.perfil{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    height: 92vh;
    width: 100%;
    margin: 0px 0px 20px 0px;
    justify-content: space-between;
}

.perfil__imagem-central{
    display: flex;
    /* border: 1px solid orange; */
    height: 65%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0;
    object-fit: contain;
}
.perfil__imagem-central-menor{
    background-image: ;
    display: flex;
    /* border: 1px solid orange; */
    height: 65%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0;
    object-fit: contain;
    display: none;
}

.titulo__perfil{
    /* border: 1px solid blue; */
    align-items: center;
    display: flex;
    height: 10%;
    justify-content: center;
    text-align: center;
    font-size: 400%;
    color: var(--roxo);
    margin:10px 10px 0px 10px;
}

.perfil__resumo{
    /* border: 1px solid black; */
    text-align: center;
    height: 10%;
    justify-content: center;
    max-width: 800px;
    margin: 10px;
}

picture{
    display:  block;
}

/* botoes ------------------- */
.botoes{
    /* border: 1px solid blue; */
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    padding: 8px;
}


.botao{
    background-color: var(--verde-principal);
    padding: 10px;
    height: 50px;
    width: 120px;
    font-weight: 600;
    color: var(--roxo);
    margin: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2 ease;
    border:none;
    text-decoration: none;
    align-items: center;
}

.botao-texto{
    text-decoration: none;
    font-weight: 800;
    color:var(--roxo);
    outline: none;
    text-align: center;
    align-items: center;
}

.botao:hover{
    transform: scale(1.08);
    text-decoration: none;
    outline: none;
}

.botao::focus{
    outline: none;
}

.botao:active{
    transform: translateX(2px);
    transform: translateY(2px);
    text-decoration: none;
    outline: none;
}

/* tags genericas para a section historia */
.section__historia{
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 0 px;
    justify-content: center;
    align-items: center;
}


.article{
    /* border: 1px solid green; */
    margin: 10px;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-flow: column;
    flex-direction: row;
    align-items: center;
    max-width: 1020px;
}

.article__texto{
    /* border: 1px solid blue; */
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin:0px;
    
}

.article__foto{
    /* border: 1px solid orange; */
    height: 100%;
    background: no-repeat center;
    background-size: cover;    
    vertical-align:middle;
    max-width: 300px;
    margin: 4px;
    display: inline-block;
}


/* biografia---------------------------------------------- */
.article__biografia{
    display: flex;
    flex-direction: column;
}

.biografia__titulo{
    margin: 10px;
}

.biografia__texto-imagem{
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
}

.biografia__imagem{
    max-width:300px;
    display:inline-block;
    /* border:2px solid red; */
    padding: 8px;
    object-fit: cover;
}

.article__biografia--texto{
    text-align: right;
    /* border: 1px solid blue; */
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin:0px;
}

/* Carreira acadêmica ------------------------------ */
.article__academico{
    display: flex;
    flex-direction: column;
}

.academico__titulo{
    margin: 10px;
}

.academico__texto-imagem{
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
}


.academico__imagem{
    display:inline-block;
    /* border:2px solid red; */
    padding: 8px;
    height: 100%;
    max-width: 300px;
    max-height: 370px;
    object-fit: cover;
}

.article__academico--texto{
    text-align: left;
    /* border: 1px solid blue; */
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* Obras ------------------------------------------------ */

.article__obras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.obras__texto-imagem{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.article__obras--texto{
    /* border: 1px solid blue; */
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0px;
}

.article__obras--container-fotos{
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
}

.article_obras-foto-1{
    /* border: 1px solid orange; */
    max-width: 200px;
    margin: 10px;
    flex-shrink: 0;
    box-shadow: 5px 5px #B3B6A3;
}

.article_obras-foto-2{
    /* border: 1px solid orange; */
    max-width: 250px;
    margin: 10px;
    flex-shrink: 0;
    box-shadow: 5px 5px #B3B6A3;
}

/* fim obras */


/* plantas  */
.article__plantas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.plantas__texto-imagem{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.article__plantas--texto{
    /* border: 1px solid blue; */
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0px;
}

.article__plantas--container-fotos{
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
}

.article_plantas-foto-1{
    /* border: 1px solid orange; */
    max-width: 200px;
    margin: 10px;
    flex-shrink: 0;
}

.article_plantas-foto-2{
    /* border: 1px solid orange; */
    max-width: 250px;
    margin: 10px;
    flex-shrink: 0;
}
/* fim plantas */

/* carrossel */

.carrossel-container{
    margin: 0px 0px 20px 0px;
}

/* Centralizar o carrossel */
.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.carousel {
    max-width: 600px; /* Defina a largura máxima desejada para o carrossel */
    margin: 0 auto;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 400px;
    margin: auto;
}

/* fim do carrossel */

/* inicio homenagem carnaval */
.article__carnaval{
    display: flex;
    flex-direction: column;
}

.carnaval-big-container{
    /* border: 1px solid turquoise; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.carnaval-titulo{
    text-align: right;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin:10px;
}

.carnaval__texto-imagem{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin: 10px;
}

.article__carnaval--texto{
    /* border: 1px solid blue; */
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin:10px;
}

.article__carnaval--container-fotos{
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    margin: 10px;
    padding: 8px;
}

.article__carnaval--container-video{
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-content: center;
    justify-content: right;
    margin: 10px;
}

.article_carnaval-foto{
    display: flex;
    max-width: 400px;
    max-height: 500px;
    padding: 10px;
    box-sizing: border-box;
    object-fit: cover;
}

.article_carnaval-video{
    display: flex;
    width:560px;
    height:315px; 
    /* border: 1px solid orange; */
    object-fit: cover;
}
/* fim homenagem carnaval */


/* inicio section homenagem */
.section__homenagem{
   /* border: 1px solid red;  */
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 8px 0px 20px 0px;
   margin: 50px 0px 0px 0px;
}

.section__homenagem--foto{
    /* border: 1px solid cornflowerblue;  */
    display: flex;
    width: 400px;
    height: 400px;
    margin: 20px 0px 0px 0px;
    flex-direction: column;
 }

 .section__homenagem--texto{
    /* border: 1px solid black; */
    text-align: center;
    width: 70%;
    max-width: 800px;
 }


 
.titulo__homenagem{
    /* border: 1px solid blue; */
    font-family:'Alex Brush', cursive;
    font-size: 300%;
    color: var(--roxo);
    margin: 0 auto;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}

/* fim da ultima section homenagem */

.footer{
    /* border:1px solid red; */
    width: 100%;
    height: 40px;
    width: 100%;
    background-color: var(--verde-principal);
    display:flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.footer__texto{
    /* border: 1px solid black; */
    display: flex;
    text-align: center;
    align-content: center;
    font-weight: 600;
    color: black;
    /* padding: 8px 0px 0px 0px; */
}

.footer__texto-icone{
    display: flex;
    align-content: center;
    width: 24px;
    margin: 0px 8px 0px 8px;
}

/* ajuste de responsividade */

@media (max-width: 1000px){
    .biografia__texto-imagem{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article__biografia--texto{
        text-align: center;
    }
    .academico__texto-imagem{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .article__academico--texto{
        text-align: center;
    }
    .article__obras--container-fotos{
        flex-direction: column-reverse;
        align-items: center;
    }
    .carnaval-big-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article__carnaval--texto{
        flex-direction: column;
        text-align: center;
    }
    .article__carnaval--container-video{
        justify-content: center;
        width: 100%;
        height: 315px;
    }
    .article_carnaval-video{
        display: flex;
        width:100%;
        height:315px; 
        object-fit: cover;
    }

    @media(max-width: 800px) {
        .botoes{
            display:flex;
            flex-wrap:wrap;
            align-items: center;
        }
        .botao{
            width: 120px;
        }
        .perfil{
            width: 100%;
            height: 100%;
            justify-content: space-between;
        }
        .titulo__perfil{
            border: 1px solid blue;
            align-items: center;
            display: flex;
            height: 20%;
            justify-content: center;
            text-align: center;
            font-size: 300%;
            color: var(--roxo);
            margin:10px 10px 0px 10px;
        }
        .perfil__imagem-central{
            display: none;
        }
        .perfil__imagem-central-menor{
            display: flex;
            width: 100%;
        }
        .botoes{
            display:flex;
            width: 100%;
            max-height: 60%;
            height: 100%;
        }
        .carousel-caption-p{
            display:none;
        }

        .footer{
            height:100%;
        }
        .section__homenagem--foto{
            display: flex;
            width: 100%;
            object-fit: cover;
         }
    }
    
}

/* Estilos do pop-up */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, 0%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 5px 5px #B3B6A3;
    border-radius: 4px;
    padding: 8px;
    max-width: 300px;
    display: none;
    z-index: 1;
  }
  
  .popup-content {
    display: block;
  }
  
  .popup.active {
    display: block;
  }

  /* galeria */

  .gallery{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    /* max-width: 600px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px 40px 10px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  
  .grid {
    /* border: 1px solid red; */
    padding: 20px;
    border-radius: 10px;
    background-color: #DDE4B7;
    box-shadow:5px 5px #B3B6A3;;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 800px; 
    margin: 0; /* Centralize a galeria horizontalmente */
  }
  
  .item {
    flex-basis: calc(33.33% - 20px); /* Para três itens por linha com 10px de espaço entre eles */
    flex-shrink: 0; /* Impedir que as imagens encolham */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 300px; /* Tamanho original das imagens */
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  #overlay-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Ajusta a largura da imagem para caber no pop-up */
    max-height: 100%; /* Ajusta a altura da imagem para caber no pop-up */
  }
  
  #overlay-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }